{% extends 'navbar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link href="{{asset('/css/theme.css')}}" rel="stylesheet" media="all">    
{% endblock %}
{% block nav %}
    {{ parent() }}

<div id="template_preview">
    	<img src="/screenshots/full-template-559-zay-shop.jpg" alt="templatemo 559 zay shop" title="templatemo 559 zay shop" border="0">
    </div>
{% endblock %}